<!DOCTYPE html>
<html lang="en">

    <body>
                <main>
                    <section class="hero">
                        <img src="/images/vehicles/delorean.jpg" alt="CSE Motors Hero" class="hero-image">
                        <div class="hero-text">
                            <h1>DMC Delorean</h1>
                            <p>3 CUP holders Superman doors Fuzzy dice!</p>
                            <a href="#" class="cta-button">OWN TODAY</a>
                        </div>
                    </section>
                    <section class="upgrades-reviews">
                        <div class="column">
                            <h2>Delorean Upgrades</h2>
                            <div class="upgrade-items">
                                <div class="upgrade-item">
                                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                                    <h3><a href="#">Flux Capacitor</a></h3>
                                </div>
                                <div class="upgrade-item">
                                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                                    <h3><a href="#">Flame Decals</a></h3>
                                </div>
                                <div class="upgrade-item">
                                    <img src="/images/upgrades/bumper_stickers.jpg" alt="Bumper Stickers">
                                    <h3><a href="#">Bumper Stickers</a></h3>
                                </div>
                                <div class="upgrade-item">
                                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                                    <h3><a href="#">Hub Caps</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="column reviews-column">
                            <h2>DMC Delorean Reviews</h2>
                            <ul>
                                <li>"So fast it's almost like traveling time" (4/5)</li>
                                <li>"Coolest ride on the road" (4/5)</li>
                                <li>"I'm feeling McFly!" (5/5)</li>
                                <li>"The most futuristic ride of our day" (4.5/5)</li>
                                <li>"80's livin and i love it!" (5/5)</li>
                            </ul>
                        </div>
                    </section>
                </main>
                
    </body>

</html>